@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit';
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #fce7f3;
  color: #db2777;
}

body {
  background-color: #fff1f6;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: inherit;
}

.active hr {
  display: block;
}